@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.nav-link.disabled{
    color:black !important;
}

/*
#spacing {
    margin-left: ($ spacer * .5) !important;
}*/
/*
.navbar-brand {
    padding: 0px; !* firefox bug fix *!
}
.navbar-brand>img {
    height: 100%;
    padding: 15px; !* firefox bug fix *!
    width: auto;
}*/
.nav-item {
    padding-top: 2% !important;
}

@media (max-width: @screen-xs) {
    body{font-size: 14px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 18px;}
}

*{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    /*font-size: 18px;*/
    line-height: 22px;
}
.navbar-brand{
    padding-right:25px;
}
.cut-effect {
/*clip-path here*/
}
.gallery1{
    width:100% !important;
    height:100% !important;
}

.img3-4 {
    width: 298px;
    height: 180px;
}

.img3-4:first-child {
    background-image: url("../img/Brinuma_meita-15.jpg");
}
.img3-4:last-child {
    background-image: url("../img/Alina_1.jpg");
}
/*
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}*/
